<html>
    <head>
        <title>rpi-plates-recognition</title>
        <style>
            .photo {
                margin: 1cm;
                padding: 1cm;
                background-color: lightgray;
            }

            .photo-buton {
                float: right;
            }
        </style>
        <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
        <script>
            const START_NO = 1;
            const COUNT_NO = 2;

            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('#b_get_photos').onclick = () => {
                    const request = new XMLHttpRequest();

                    request.open('GET', `/latest_photos?start=${START_NO}&count=${COUNT_NO}`);
                    request.onload = () => {
                        const data = JSON.parse(request.responseText);
                        if (data['success'] === false) {
                            document.querySelector('#error_report').innerHTML = 'Error';
                        }
                        else {
                            data['photo-plates'].forEach(element => {
                                const photo = document.createElement('div')


                                photo.className = 'photo';
                                timestamp = new Date(element["timestamp"])


                                if ('plates' in element) {
                                    photo.innerHTML = `plates: ${element["plates"]}, timestamp: ${timestamp}`;
                                } else {
                                    photo.innerHTML = `photo_id: ${element["photo_id"]}, timestamp: ${timestamp}`;
                                }

                                // add photo-id to later refer to that photo
                                // photo.dataset.photo_id = element["photo-id"];

                                // create button for viewing image
                                const button = document.createElement('button');
                                button.onclick = function () {
                                    const photo_id = element['photo_id'];

                                    const request = new XMLHttpRequest();
                                    request.open('GET', `/get_photo?photo_id=${photo_id}`);
                                    request.onload = () => {
                                        if (request.status != 200) {
                                            console.log(`Bad response: ${request.statusText}`);
                                            return;
                                        }

                                        const data = JSON.parse(request.responseText);
                                        if (data['success']) {
                                            const img = document.createElement('img');
                                            img.src = data['photo_url'];
                                            photo.append(img);
                                        }
                                        else {
                                            console.log('Img request was not a succes!');
                                        }
                                    };

                                    request.send();
                                };
                                button.innerHTML = "See me!";
                                button.className = 'photo-button';
                                photo.append(button);

                                document.querySelector('#photos').append(photo);
                            });
                        }
                    }

                    request.send();
                }
            })
        </script>
    </head>
    <body>
        <h1>Hello, world!</h1>
        <hr>
        <button id="b_get_photos">Get last photos</button>
        <div id="error_report" style='color: red;'></div>
        <div id="photos"></div>
    </body>
</html>
