<tr class="selectpicker-edit-whitelist-row">
    <td>
        {{ module.unique_id }}
    </td>
    <td>
        {% if module.is_active %}
            <span class="badge badge-success">Yes</span>
        {% else %}
            <span class="badge badge-secondary">No</span>
        {% endif %}
    </td>
    {% if current_user.is_admin() %}
        <td>
            {% if module.user %}
                <strong>{{ module.user.username }}</strong>
            {% else %}
                <u>No user bound</u>
            {% endif %}
        </td>
        <td>
            <a href="{{ url_for('rpi_connection.index', unique_id=module.unique_id)}}">
                <button type="button" class="btn btn-primary" data-unique_id="{{ module.unique_id }}">More</button>
            </a>
        </td>
    {% elif current_user.is_user() %}
        <td>
            {{ (edit_whitelist_form|attr(module.unique_id + '_whitelists')) (form='select-picker-form') }}
        </td>
        <td>
            <a href="{{ url_for('access_attempts.index', unique_id=module.unique_id) }}" class="btn btn-primary">Access attempts</a>
        </td>
    {% endif %}
</tr>
