<tr>
    <td>
        {{ whitelist.name }}
    </td>
    <td>
        <div class="btn-group">
            <a class="btn btn-light" href="{{ url_for('whitelists.edit', whitelist_id=whitelist.id) }}">
                Edit
            </a>

            <button type="button" class="btn btn-light remove-btn"
                data-toggle="modal"  data-whitelist-id = "{{ whitelist.id }}" data-whitelist-name="{{ whitelist.name }}"
                data-target="#removeWhitelistModal">
            Remove
            </button>
        </div>
    </td>
</tr>
