<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>rpi-plates-recognition</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('index') }}">rpi-plates-recognition</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.role == 'User' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('add_module') }}">Add module</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('whitelists') }}">Whitelists</a>
                            </li>
                        {% elif current_user.role == 'Admin' %}

                        {% endif %}
                    {% endif %}
                  </li>
                </ul>
                <ul class="navbar-nav my-lg-0">
                    {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user_profile') }}">User</a>
                        <li class="nav-item">
                        <li>
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info my-3" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block app_content %}{% endblock %}
        </div>

        {% block scripts %}
            {{ bootstrap.load_js() }}
            <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
        {% endblock %}
    </body>
</html>
