{% extends "base.html" %}
{% import 'bootstrap/wtf.html'as wtf %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='edit_whitelist.js') }}"></script>
{% endblock %}

{% block app_content %}
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit plate</h4>
            </div>
            <div class="modal-body">
            <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Removing plate from whitelist</h4>
            </div>
            <div class="modal-body">
            <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, go back</button>
            <a href="{{ url_for('delete_plate_from_whitelist', whitelist_id=whitelist.id )}}"></a>
                <button type="button" class="btn btn-danger">Yes, remove licence plate</button>
            </a>

            </div>
        </div>
        </div>
    </div>


    <h1>Editing whitelist: <strong>{{ whitelist.name }}</strong></h1>
    <hr>
    <table class="table table-hover">
        {% for plate in whitelist.plates %}
            {% include '_edit_whitelist.html' %}
        {% endfor %}
    </table>
{% endblock %}
