{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='ajax_form.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            {#
            /*
            $('#removeModal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const plate_id = button.data('plate-id');

                const text_output = document.querySelector('#plate-text-output');
                text_output.innerText = button.data('plate-text');

                const fakeForm = document.querySelector('#fakeForm');
                fakeForm.action = `{{ url_for('whitelists.edit_remove_plate', whitelist_id=whitelist.id) }}?plate_id=${plate_id}`;
            });
            */#}

            //
            //  Add a whitelist ajax form set-up
            //

            const form_node = document.querySelector('#addModal form');
            const ajax_form_route = '{{ url_for("whitelists.edit_add_plate", whitelist_id=whitelist.id) }}';
            const submit_btn = document.querySelector('#addModal #submit-btn');

            const ajax_form = new AjaxForm(form_node, ajax_form_route, [submit_btn]);

            ajax_form.addEventListener('validatedAndSubmitted', () => {
                location.reload();
            });
        });

        function tableButtons() {
            return {
                btnAdd: {
                    text: 'Add new plate',
                    icon: 'fa-plus',
                    event: () => {
                        $('#addModal').modal('show');
                    },
                    attributes: {

                    }
                },
                btnRemove: {
                    text: 'Remove plate(s)',
                    icon: 'fa-minus',
                    event: () => {
                        const selections = $('#removeTable').bootstrapTable('getSelections');

                        if (selections.length === 0) {
                            return;
                        }

                        var remove_url = `{{ url_for('whitelists.edit_remove_plates', whitelist_id=whitelist.id) }}`;
                        var prefix = '?';

                        selections.forEach(selection => {
                            remove_url += prefix + 'id=' + selection.id;
                            prefix = '&';
                        });

                        const fakeForm = document.querySelector('#fakeForm');
                        fakeForm.action = remove_url;

                        const plate_text_output = document.querySelector('#plate-text-output');
                        plate_text_output.innerText = selections.map(selection => selection.text).join(', ');

                        $('#removeModal').modal('show');
                    },
                    attributes: {
                        class: "remove-btn"
                    }
                }
            }
        }
    </script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
{% endblock %}

{% block app_content %}
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Plate removal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                <p>Are you sure you want to delete: <strong id="plate-text-output"></strong>?</p>
                </div>
                <div class="modal-footer">
                    <form method="POST" id="fakeForm">
                        <input type="submit" class="btn btn-danger" value="Remove"></button>
                    </form>

                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a new plate</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {{ render_form(form) }}
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="submit-btn">Submit</button>
                    <button type="button" class="btn btn-secodary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-sm-12 mx-2 my-2">
            <h1>Editing whitelist: <strong>{{ whitelist.name }}</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <table class="table table-hover">
                    <thead style="font-weight: bold;">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Plate
                            </th>
                            <th>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">Add a plate</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {#
                        {% for plate in pagination.items %}
                            {% include '_edit_whitelist.html' %}
                        {% endfor %}
                        #}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {# render_pagination(pagination, align='right') #}
                </div>
            </div>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col-md-8">
            <table
                class="my-2"
                id="removeTable"
                data-toggle="table"
                data-pagination="true"
                data-side-pagination="server"
                data-show-extended-pagination="true"
                data-search="true"
                data-buttons="tableButtons"
                data-url="{{ url_for('whitelists.edit_get_plates', whitelist_id=whitelist.id) }}"
                {# data-multiple-select-row="true" #}
                data-click-to-select="true"
                data-maintain-meta-data="true"
        >
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                {# <th data-field="id" data-width="10" data-width-unit="%">#</th> #}
                <th data-field="text" data-sortable="true">Plate</th>
            </tr>
        </thead>
    </table>
        </div>
    </div>

{% endblock %}
