{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='ajax_form.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // block for adding a module
            // to prevent varaible name clash
            {


                const form_node = document.querySelector('#addModuleModal form');
                const ajax_form_route = '{{ url_for("modules.add_module_ajax") }}';
                const submit_btn = document.querySelector('#addModuleModal #submit-btn');

                const ajax_form = new AjaxForm(form_node, ajax_form_route, [submit_btn]);

                ajax_form.addEventListener('validatedAndSubmitted', () => {
                    location.reload();
                });
            }

            //const module_table = document.querySelector('#module-table');
            //module_table.selectPickerManager = new SelectPickerManager(module_table);

            {
                const form_node = document.querySelector('#select-picker-form');
                const ajax_form_route = '{{ url_for("modules.bind_modules_to_whitelists_ajax") }}';
                const submit_btn = document.querySelector('#submit-whitelist-changes-btn');

                const ajax_form = new AjaxForm(form_node, ajax_form_route, [submit_btn]);

                ajax_form.addEventListener('validatedAndSubmitted', () => {
                    location.reload();
                });
            }
        });

        class SelectPickerRowManager {
            constructor(select_picker_node, select_picker_node_row, unique_id, whitelist_id_to_name_and_bound_modules) {
                this.select_picker_node = select_picker_node;
                this.select_picker_node_row = select_picker_node_row;
                this.unique_id = unique_id;
                this.is_changed = false;

                for (var whitelist_id in whitelist_id_to_name_and_bound_modules) {
                    const bound_modules = whitelist_id_to_name_and_bound_modules[whitelist_id].bound_modules;
                    const whitelist_name = whitelist_id_to_name_and_bound_modules[whitelist_id].name;

                    const option = document.createElement('option');
                    option.value = whitelist_id;
                    if (bound_modules.includes(unique_id)) {
                        option.selected = '';
                    }

                    const text_node = document.createTextNode(whitelist_name);
                    option.appendChild(text_node);

                    this.select_picker_node.appendChild(option);
                }

                $(this.select_picker_node).on('changed.bs.select', (e, clickedIndex, isSelected, previousValue) => {
                    this.is_changed = true;
                    this.select_picker_node_row.classList.add('table-warning');
                });

                $(this.select_picker_node).selectpicker('refresh');
            }
        }

        class SelectPickerManager {
            constructor (table_node) {
                this.table_node = table_node;

                const req = new XMLHttpRequest();
                req.open('GET', '{{ url_for("modules.get_whitelists_with_bound_modules_ajax") }}');

                req.onload = () => {
                    if (req.status === 200) {
                        const data = JSON.parse(req.responseText);
                        console.log(data);

                        const select_picker_rows = document.querySelectorAll('.selectpicker-edit-whitelist-row');
                        select_picker_rows.forEach(tr => {
                            const select = tr.querySelector('select');
                            const unique_id = select.dataset.unique_id;
                            select.selectPickerRowManager = new SelectPickerRowManager(select, tr, unique_id, data);
                        });
                    }
                };

                req.send();
            }
        }
    </script>
{% endblock %}

{% block app_content %}
<div class="modal fade" id="addModuleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add a module</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            {{ render_form(form) }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" id="submit-btn">Submit</button>
            <button type="button" class="btn btn-secodary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<form id="select-picker-form" autocomplete="off">
    {{ edit_whitelist_form.hidden_tag() }}
</form>

<div class="row">
    <div class="col-md-12">
        <h2>Your modules:</h2>
        <table class="table table-hover" id="module-table">
            <thead style="font-weight: bold;">
                <td> Unique id </td>
                <td> Active </td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addModuleModal">Add a module</button>
                    </td>
            </thead>
            {% for module in modules %}
                {% include '_module.html' %}
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">
        <button style="width: 100%;" type="button" class="btn btn-primary btn-block" id="submit-whitelist-changes-btn">Submit</button>
    </div>
</div>
{% endblock %}
