{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='rpi_connection.js') }}"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        /*
        tbody { height: 250px; overflow-y: scroll; display:block;}
        th { position: sticky; top: 0; }
        */
        .tableFixHead {
            overflow-y: auto;
            height: 200px;
        }

        .tableFixHead table {
            border-collapse: collapse;
            width: 100%;
        }

        .tableFixHead th,
        .tableFixHead td {
            padding: 8px 16px;
        }

        .tableFixHead th {
            position: sticky;
            top: 0;
            background: #eee;
        }


        .card {
            transform: scale(0);
            transition: 0.5s;
        }

        .card.animate {
            transform: scale(1);
        }

        .tr input {
            max-width: 25px;
            overflow: auto;
        }
    </style>
{% endblock %}

{% block app_content %}
<div class="row my-4">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div id="output" style="overflow: auto; height: 150px;"></div>
                <form class="form-inline" id="command_form" data-unique_id="{{ module.unique_id }}">
                    <div class="form-group">
                        <label for="commandsInput">Commands</label>
                        <input type="text" class="form-control" id="commandsInput" placeholder="commands...">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div id="accordion">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <table id="table-params-output" class="table table-bordered table-hover">
            <thead>
                <td>param key</td>
                <td>module value</td>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


{% endblock %}
