{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='rpi_connection.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const main_div = document.querySelector('#main_div');
            main_div.classList.remove('container');
            main_div.classList.add('container-fluid');
        })
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .card {
            transform: scale(0);
            transition: 0.5s;
        }

        .card.animate {
            transform: scale(1);
        }

        .tr input {
            max-width: 25px;
            overflow: auto;
        }

        .anim-jigger {
            animation: jigger 0.4s;
        }

        @keyframes jigger {
            0% {
            transform: translateX(0px) rotate(0deg);
            }

            20% {
                transform: translateX(-4px) rotate(-4deg);
            }

            40% {
                transform: translateX(-2px) rotate(-2deg);
            }

            60% {
                transform: translateX(4px) rotate(4deg);
            }

            80% {
                transform: translateX(2px) rotate(2deg);
            }

            100% {
                transform: translateX(0px) rotate(0deg);
            }
        }

        .loading {
            cursor: progress;
        }
    </style>
{% endblock %}

{% block app_content %}
<div class="row my-4">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-md-12">
                <div id="output" style="overflow: auto; height: 150px;"></div>
                <form class="form-inline my-2" id="command_form" data-unique_id="{{ module.unique_id }}">
                    <div class="form-group">
                        <label for="commandsInput" class="mx-2">Commands</label>
                        <input type="text" class="form-control mx-2" id="commandsInput" placeholder="commands...">
                    </div>
                    <button type="submit" class="btn btn-primary mx-2">Submit</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div id="accordion">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="form-control mb-2" placeholder="Search for param..." id="table-params-output-search">
            </div>
            <dib class="col-sm-4">
                <button class="btn btn-primary submit-params">Submit changes</button>
            </dib>
        </div>

        <table id="table-params-output" class="table table-bordered table-hover">
            <thead>
                <td>param key</td>
                <td>module value</td>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-8">
                <div id="submit-output"></div>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-primary submit-params">Submit changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
